header
    nav
        ul
            li
                a(href="/" class="custom-icon")
                    i(class="fa-solid fa-xl fa-home")
        ul
            li 
                a(href="/signup" class="custom-icon") 
                    i(class="fa-solid fa-xl fa-user-plus")
            li 
                a(href="/login" class="custom-icon") 
                    i(class="fa-solid fa-xl fa-right-to-bracket")